*{
    --font: "Outfit", sans-serif;
    --bgcolor: #090001;
    --fontcolor: #FFE6EA;
    --menucolor: #ffe6ea8f;
    --btn: #730917;
    --widite: 90%;
    --peding: 1rem;
}
.btn-contato button{
    display: inline-block;
    padding: 20px 40px;
    background-color: var(--btn); 
    color: var(--fontcolor); 
    font-family: var(--font);
    font-size: 1.5rem;
    border: none; 
    cursor: pointer;  
    text-decoration: none; 
    transition: transform 0.3s ease-in-out;
    border-radius: 62px;
}

.btn-contato button:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 8px var(--btn);
}

body {
    background-color: var(--bgcolor);
    font: var(--font_family);
    margin: 0;                 
    padding: var(--peding); 
}

.flex{
    display: flex;
}

/*header*/

header{
    margin: 3rem;
}

header .flex{
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
}

.flex .menu a{
    display: inline-block;
    font-size: 2vw;
    text-decoration: none;
    color: var(--menucolor);
    font-family: var(--font);
    transition: transform 0.3s ease-in-out;
    padding: 0 3rem;
}

.flex .menu a:hover{
    transform: scale(1.2);
    color: var(--fontcolor)
}

/*hero*/

.hero{
    margin: 108px;
    font-family: var(--font);
    align-items: center;
    justify-content: center;
}

.hero h1, p{
    color: var(--fontcolor);
    
}

.hero h1{
    font-size: 3vw;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.hero p{
    font-size: 1.8vw;
}

.hero img {
    position: relative; /* Para que o 'top' funcione na animação */
    animation: flutuar 2s ease-in-out infinite alternate; /* Adiciona a animação */
}

@keyframes flutuar{
    0% {
        top: -100px; /* Posição inicial */
    }
    100% {
        top: 0px; /* Move para baixo 30 pixels */
    }
}